body{
    margin: 0px;
    padding: 0px;
  }
  .App {
    text-align: center;
    margin-top: -20px;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 1.8s linear;
    height: 40vmin;
    pointer-events: none;
    border: 4px solid rgb(185, 10, 162);
    width: 30px;
    height:30px;
    border-radius: 50%;
    border-top: 4px solid rgb(192, 191, 191);
    border-bottom: 4px solid rgb(192, 180, 180);
  }
  
  .App-header {
    background-color: white;
    min-height: 100vh;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    bottom: 90px;
  }


  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    
    }
  }
  
  
  .App-header h1{
 color: rgb(196, 49, 176);
 font-size: 29px;
 text-shadow: 1px 1px black;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  