
.prnt-product{
 /* border : 2px solid rgb(139, 10, 96); */
 /* height:50vh;  */
 background: white;
 padding: 10px;
 margin-top: 15px;
 border-radius: 25px;
 /* z-index:-1; */
}

.prnt-product .child-product{
    /* border: 1px solid rgb(139, 10, 96); */
    /* box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.4); */
    margin-top: 13px;
    height: 15vh;
    /* border-radius: 10px; */
    display: flex;
    border-bottom: 1px solid rgb(197, 9, 134);
    padding-bottom: 9px;
}


.prnt-product .child-product .restaurent-name img{
   width: 100%;
   height: 100%;
   border-radius: 10px;
}

@media (min-width:450px){
    .prnt-product .child-product{
        width: 50%;
        margin: 0px auto;
    }
}
@media (min-width:800px){
    .prnt-product .child-product{
        width: 40%;
        margin: 0px auto;
    }
}

.prnt-product .child-product .restaurent-name{
    width: 40%;
    /* border: 2px solid rgb(190, 25, 163); */
    border-radius: 10px;
    /* background-image: url('https://images.pexels.com/photos/2531176/pexels-photo-2531176.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
    /* background: rgb(139, 10, 96); */
    color: white;
    background-size: fixed;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.9);
    font-size:14px;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.prnt-product .child-product .restaurent-items{
    /* border: 2px solid red; */
    width: 60%;
    padding-bottom: 2px;
    color: rgb(15, 15, 15);
} 
.prnt-product .child-product .restaurent-items h3{
    font-family: arial;
    margin-top: 14px;
    font-size: 13px;
    color: rgb(139, 10, 96);   
}
.prnt-product .child-product .restaurent-items h5{
    color: black;
    margin-top: 5px;
    font-family:  sans-serif;
    margin-bottom: 11px;
    font-size: 12px;
}
.prnt-product .child-product .restaurent-items h5 span{
    color: gray;
    font-family:arial;
    font-size: 10px;
}
.prnt-product .child-product .restaurent-items button{
   padding: 6px 22px;;
   background: rgb(194, 10, 148);
   border: none;
   /* border: 2px solid rgb(30, 30, 148); */
   border-radius: 2px;
   font-size: 10px;
}

.userview-box{
    /* border: 2px solid rgb(163, 4, 4); */
    /* border-radius: 10px; */
    padding-top: 5px;
    background: rgb(216, 10, 188);
}

.header{
    margin-top: 18px;
    /* height: 7vh; */
    /* border-radius: 10px; */
    background: rgb(216, 10, 188);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.4);
    text-align: left;
    font-size: 25px;
    color: white;
    padding: 20px 20px;
}
.search-box{
    border: 1px solid white;
    line-height: 30px;
    margin-top: 39px;
    padding: 5px 0px;
    position: fixed;
    z-index: 1;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 1px 1px rgb(216, 10, 188);
}
.search-box input{
  border: none;
  width:240px;
  margin-right: 23px;
  line-height: inherit;
  text-align: center;
  padding-right: 30px;
  border-radius: 4px;
  outline: none;
  /* padding-right: 50px; */
  background: white;;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.4);
  color: black;

}


.eating-title{
    font-size: 27px;
    color:rgb(252, 247, 247);
    width:80%;
    margin: 0px auto;
}
@media (max-width:800px){
    .eating-title{
        font-size: 15px;
    }
}



.search-box i{
    color:white;
    color:rgb(216, 10, 188);
    font-size: 18px;
    position: relative;
    left:30px;
}

.footer{
    /* border: 1px solid dodgerblue; */
    position: fixed;
    z-index: 2;
    top: 91vh;
    width: 100%;
    padding: 5px 0px;
    background: white;
}
.restaurent-block h4{
       color: black;
       text-align: left;
       font-family: sans-serif;
       margin-left: 5px;
       margin-top: 9px;
}
.food-block h4{
       color: black;
       text-align: left;
       font-family: sans-serif;
       margin-left: 5px;
       margin-top: -5px;
}















